/* IMPORTANT !!!!
line-height, font-size defined in jquery.bookify.js */
td {
  /* height:50px; */
  vertical-align:top;
  text-align:left;
  padding-bottom:30px;/*行高的倍数-chenjing*/
  padding-left:20px;
}

/*chenjing*/
.ebook_title{ font-weight:bold; font-size:18px; margin: 50px auto; width: 550px; line-height: 160%;}
.zh_en{ position:absolute; left:70%; bottom:10%; font-size:14px;}
.pre,.next{ cursor:pointer; font-size:40px; font-weight:bold; position:absolute; top:40%}
.pre{ display:none; left:7%}
.next{right:7%}